body {
    color : rgba(0, 0, 0, 0.7);
    /*background: #EFFDEE;*/
}




/*BG COLORS*/

.bg-medium-green{
    background-color: #defddc;

}

.bg-light-green{
    background-color: #EFFDEE;

}
.bg-light-orange{
    background-color: #f8f0e5;
}

/* TEXT COLORS */
.text-light-green{
    color: #EFFDEE;
}
.text-orange{
    color: #ff9854;
}
/* PADDINGS */
.p-10{
    padding: 19rem;
}
@media (min-width: 992px) {
    .p-lg-10{
        padding: 19rem;
    }
}

/*
    COLOR FORT
    background: rgba(205, 255, 199, 1);
    */
/*TABLE TO DISPLAY HEADER*/

.header-table td {
    height: 100px;
    text-align: center;
}

/*WIDTH AND MARGINS FOR EACH KIND OF ELEMENT*/
.header-logo-td{
    width: 15%;
}
.header-text-td{
    width: 10%;
}

/*LOGO IMAGE*/
.logo {
    width: 200px; 
}
/*PLAIN TEXT SPECIFICS*/
.header-text-plain {
    color :#000000;
}

/*SEARCH INPUT IN HEADER*/
.search-area{
    float: right;
}
.search-input{
    width: 50%;
}
.search-icon{
    width: auto;
}
.search-span{

    border: 2px solid black;
}
/*BUTTONS IN HEADER*/
.btn-outline-orange{
    border-color: #ff9854;
    background-color: transparent;
    color: #ff9854;
}


.btn-outline-orange:hover {
    color:  #EFFDEE;
    background-color: #ff9854;
    border-color: #ff9854;
}
.btn-outline-orange:active {
    color:  #EFFDEE;
    background-color: #ff9854;
    border-color: #ff9854;
}
.btn-orange{
    border-color: #ff9854;
    background-color: #ff9854;
    color: #EFFDEE;
}
.btn-orange:hover {
    color:  #EFFDEE;
    background-color: #ff8738;
    border-color: #ff8738;
}
.btn-orange:active {
    color:  #EFFDEE;
    background-color: #ff8738;
    border-color: #ff8738;
}

/*MAIN CONTENT*/
.text-content{
    font-family: Source Sans Pro
}

/*margin*/

.mt-15{
    margin-top: 15%;
}


.box {
    color: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    line-height: 1; 
    backdrop-filter: blur(20px);  
    -webkit-backdrop-filter: blur(20px);
    padding: 20px 40px;
  }